   <div class="navigation">
      <ul>
          <li>
            <a href="#">
               <span class="icon"><img src="/img/icone.png" alt="..."></span>
               <span class="title">Nera</span>
            </a>
         </li>
         <li>
            <a href="/tela-perfil">
               <span class="icon"><img src="/img/Vector_Perfil.svg" alt="..."></span>
               <span class="title">Perfil</span>
            </a>
         </li>
         <li>
            <a href="/tela-trilha">
               <span class="icon"><img src="/img/Vector_Trilha.svg" alt="..."></span>
               <span class="title">Trilhas</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_Historico.svg" alt="..."></span>
               <span class="title">Histórico</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_Notificacao.svg" alt="..."></span>
               <span class="title">Notificações</span>
            </a>
         </li>
          <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_duvidas.svg" alt="..."></span>
               <span class="title">Ajuda</span>
            </a>
         </li>
          <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_Configuracoes.svg" alt="..."></span>
               <span class="title">Configuração</span>
            </a>
         </li>
          <li>
            <a href="/log-aluno">
               <span class="icon"><img src="/img/Vector_Logout.svg" alt="..."></span>
               <span class="title">Sair</span>
            </a>
         </li>
      </ul>
   </div>