<div class="divLogin">
          <img src="/img/logoneraMinimizado.png" alt="..." class="logo_nera">
        <div class="div_form_Login">            
                <div class="div_buttons">
                <a href="http://localhost:8081/log-professor"><button class="button_Prof"><h1 class="h1Prof">Professor</h1></button></a>
               <a href="http://localhost:8081/log-aluno"> <button class="button_Aluno"><h1>Aluno</h1></button></a>
                </div>
                <form action="/login" method="POST" class="form_login">
                        <input type="text" name="user" class="input_user" placeholder="  Email ou nome de usuario"><br><br>
                        <input type="text" name="senha" class="input_senha" placeholder="  Senha"><br>
                        <a href="" class="esq_senha">Esqueceu a senha?</a><br><br>
                        <button type="submit" class="button_login">Entrar</button><br>
                        <hr class="linha">                  
                        <hr class="linha2">
                        <p class="p_OU">OU</p><br><br><br>
                        <button type="" class="button_google">Login com google</button>
                        <button type="button" class="button_criar_conta"> <a href="/cad">Criar conta</a></button>
                </form>
        </div>
</div>
