<div class="divLogin">
        <img src="/img/logoneraMinimizado.png" alt="..." class="logo_nera">
        <div class="div_form_cad">            
            <h1 class="h1_perfil_cad">Crie seu perfil</h1>
                <form action="/cadastro" method="POST" class="form_cad">
                        <input type="text" name="email_cad" class="input_user_cad" placeholder="  Nome"><br><br>
                        <input type="text" name="senha_cad" class="input_senha_cad" placeholder="  Senha"><br>
                        <input type="text" name="confirmar_senha_cad" class="input_confirmar_senha_cad" placeholder="  Confirmar Senha"><br>
                        <button type="submit" class="button_cad">Criar conta</button><br>
                        <hr class="linha_cad_1">                  
                        <hr class="linha_cad_2">
                        <p class="p_cad_OU">OU</p><br><br><br>
                        <button type="" class="button_google_cad">Login com google</button>      
                        <p class="p_cad_termos">Ao entrar no N.E.R.A., você concorda com os nossos Termos e Política de Privacidade.</p>                 
                </form>
        </div>
</div>


