<div class="div_tela_perfil">
    <div class="infos_perfil">
        <div class="img_perfil"></div>
        <h1 class="h1_perfil">{{user.email}}</h1>
        <h2 class="h3_nome">{{user.email}} sobrenome</h2>
        <button class="bt_edit_perfil">editar perfil</button>
    </div>
    <div class="conteudo">
        <h1 class="h1_conquistas">Conquistas</h1>
        <div class="carrousel">
            <article class="card">
                <a href="https://www.youtube.com/results?search_query=node+middleware">a</a>
            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
            <article class="card">

            </article>
        </div>
    </div>
    <div class="div_estatisticas">
        <h1 class="h1_estatisticas">Estatisticas do perfil</h1>
        <div class="infos_estatisticas">
            <div class="div_nv_basicos">
                <h2>aaaaaa</h2>
            </div>
            <div class="div_erros_simples">
                <h2>aaaaaa</h2>
            </div>
            <div class="nv_avancado">
                <h2>aaaaaa</h2>
            </div>
            <div class="erros_duplos">
                <h2>aaaaaa</h2>
            </div>
        </div>

    </div>
</div>