<div class="div_modulo_fracao">
    <img src="/img/trilha_fracV.svg" alt="..." class="img_frac_modulo">
    <h1 class="h1_frac_modulo">Fração</h1>
    <h2 class="h2_txt_modulo">Modulo Explorador
        de frações</h2>
    <img src="/img/icone.png" alt="..." class="img_icone_modulo">
    <img src="/img/lupa_modulo.svg" alt="..." class="img_lupa_modulo">

    <a class="ex1" href="/questao"></a>
    <img src="/img/Line_modulo_1.svg" alt="..." class="Line_modulo_1">
    <div class="ex2"></div>
    <img src="/img/Line_modulo_2.svg" alt="..." class="Line_modulo_2">
    <div class="ex3"></div>
    <img src="/img/Line_modulo_3.svg" alt="..." class="Line_modulo_3">
    <div class="ex4"></div>

</div>