<div class="div_trilha">
    <img src="/img/Vector_Trilha.svg" alt="..." class="img_trilha">
    <h1 class="h1_trilha">Trilha</h1>
</div>

<div class="div_topicos">
    <a href="/trilha-modulos"><img src="/img/trilha_frac.png" alt="..." class="img_frac" id="img"></a>
    <img src="/img/trilha_expre.png" alt="..." class="img_expre" id="img">
    <img src="/img/trilha_porc.png" alt="..." class="img_porc" id="img">
    <img src="/img/trilha_matri.png" alt="..." class="img_metri" id="img">
    <img src="/img/trilha_geo.png" alt="..." class="img_geo" id="img">
</div>