/*================================Configs padrões=====================================*/
.body_main {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 125vh;

}
/*================================Design telas de login=====================================*/
.body_login {
    position: relative;
    background: linear-gradient(112.9deg, #4ED9D9 0%, #FFFFFF 100%);
    min-height: 10vh;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.button_Aluno::before,
.button_Aluno::after {
    content: "";
    position: absolute;
    background: inherit;
}

/*===========================================design divs==================================*/

.div_buttons {
    display: flex;
    flex-direction: row;
    background-color: #F2B705;
    width: 410px;
    height: 130px;
    border-radius: 30px;
}

.div_buttons_2 {
    display: flex;
    flex-direction: row;
    background-color: #F29F05;
    width: 410px;
    height: 593px;
    border-radius: 30px;
}

.div_form_Login {
    flex-direction: column;
    background-color: #F2B705;
    width: 410px;
    height: 593px;
    display: flex;
    margin-right: 48px;
    margin-bottom: 18px;
    align-items: center;
    border-radius: 30px;
}

.form_login {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 210px;
}

.divLogin {
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
    height: 706px;
    left: 160px;
    top: 35px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

/*======================================design botões da pagina professor======================*/

.button_login,
.button_google {
    font-weight: 700;
    font-size: 14px;
    border: none;
    width: 300px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

.button_login {
    background: #034C8C;
    color: #fff;
}

.button_google {
    color: rgba(0, 0, 0, 0.75);
}

.button_criar_conta {
    position: absolute;
    border: none;
    width: 150px;
    height: 40px;
    top: 360px;
    left: 77px;
    background: #034C8C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.button_criar_conta a{
    text-decoration: none;
    color: #FFFFFF;
}

.button_Prof,
.button_Aluno {
    color: #FFFFFF;
    border: none;
    width: 204px;
    height: 120px;
    bottom: 538px;
    cursor: pointer;
}

.button_Prof {
    background-color: #F2B705;
    border-radius: 30px 0 0 0;
    transition: background-color 0.3s;
}

.button_Prof:hover {
    background-color: #fde400f6;
}

.button_Prof::before,
.button_Prof::after {
    content: "";
    position: absolute;
    background: inherit;
}

.button_Prof::after {
    width: 60px;
    height: 60px;
    top: 48px;
    right: 212px;
    border-radius: 0 0 70px 70px;
    transform: rotate(-90deg);

}

.button_Aluno {
    left: 847px;
    border-radius: 0 30px 0 0;
    background-color: #F29F05;
    transition: background-color 0.3s;
}

.button_Aluno:hover {
    background-color: #f27805;
}

.button_Aluno::before {
    width: 60px;
    height: 60px;
    top: 108px;
    right: 220px;
    border-radius: 0 0 70px 70px;
    transform: rotate(90deg);
}

/*============================================design botões da pagina Aluno========================*/

.button_Prof_2,
.button_Aluno_2 {
    color: #FFFFFF;
    border: none;
    width: 204px;
    height: 120px;
    bottom: 538px;
    cursor: pointer;
}

.button_Prof_2 {
    background-color: #F2B705;
    border-radius: 30px 0 0 0;
    transition: background-color 0.3s;
}

.button_Prof_2:hover {
    background-color: #fde400f6;
}

.button_Prof_2::before,
.button_Prof_2::after {
    content: "";
    position: absolute;
    background: inherit;
}

.button_Prof_2::after {
    width: 60px;
    height: 60px;
    top: 108px;
    right: 220px;
    border-radius: 0 0 70px 70px;
    transform: rotate(-90deg);

}

.button_Aluno_2::before,
.button_Aluno_2::after {
    content: "";
    position: absolute;
    background: inherit;
}

.button_Aluno_2 {
    left: 847px;
    border-radius: 0 30px 0 0;
    background-color: #F29F05;
    transition: background-color 0.3s;
}

.button_Aluno_2:hover {
    background-color: #f27805;
}

.button_Aluno_2::before {
    width: 60px;
    height: 60px;
    top: 48px;
    right: 212px;
    border-radius: 0 0 70px 70px;
    transform: rotate(90deg);
}

/*============================================design linhas, paragrafos, inputs, hrefs==============================*/

.linha,
.linha2 {
    position: absolute;
    width: 120px;
    height: 1px;
    border: none;
    background-color: #000000;
}

.linha {
    top: 240px;
    left: 0px;
}

.linha2 {
    top: 240px;
    left: 180px;
}

.p_OU {
    position: absolute;
    width: 19px;
    height: 15px;
    top: 227px;
    left: 140px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.65);
}

.input_user,
.input_senha {
    border: none;
    width: 300px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

.esq_senha {
    position: absolute;
    top: 130px;
    left: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}


.logo_nera {
    width: 624px;
    height: 414px;
    margin-left: 25px;
    margin-bottom: 140px;
}

/*=========================================================design imagens========================================*/

.img {

    display: block;
    width: 500px;
    height: 500px;
    background-color: #D9D9D9;
}

.imagemNera {
    position: absolute;
    margin-right: 700px;
    margin-top: 55px;
    width: 432px;
    height: 523px;
}


/*================================Design tela de perfil=====================================*/


.infos_perfil {
    display: flex;
    position: relative;
    top: 2%;
    min-width: 100vh;
}

.h1_perfil {
    position: absolute;
    left: 50%;
}

.h3_nome {
    position: absolute;
    left: 50%;
    top: 5%;
}


.img_perfil {
    position: absolute;
    height: 160px;
    width: 160px;
    left: 8%;
    top: 3%;
    border-radius: 100%;
    background-color: #034C8C;
}

.bt_edit_perfil {
    position: absolute;
    height: 50px;
    width: 140px;
    left: 110%;
    top: 5%;
}

.navigation {
    position: relative;
    height: 125vh;
    background: #ffffff;
    border-radius: 0 20px 20px 0;
    width: 80px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover {
    width: 250px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    padding: 8px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-height: 80px;
    height: 30px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon img{
   width: 50px;
   height: 50px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 20px;
    height: 60px;
    line-height: 50px;
    white-space: nowrap;
}



.navigation ul li:hover {
    background: rgba(3, 76, 140, 0.24);
}


.div_tela_perfil {
    left: 6%;
    display: flex;
    position: relative;
}

.div_estatisticas {
    position: absolute;
    display: flex;
    min-height: 10vh;
    width: 130%;
    top: 60%;
    left: 10%;


}

.h1_estatisticas {
    position: absolute;
    left: 27%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 55px;


}

.infos_estatisticas {
    position: absolute;
    min-height: 40vh;
    display: flex;
    width: 130%;
    top: 60%;
}

.div_nv_basicos,
.div_erros_simples,
.nv_avancado,
.erros_duplos {
    position: absolute;
    height: 75px;
    width: 240px;
    border: 2px solid #F29F05;
    border-radius: 10px;
}

.div_nv_basicos {
    left: 17%;
    top: 40%;
}

.div_erros_simples {
    left: 46%;
    top: 40%;
}

.nv_avancado {
    left: 17%;
    top: 80%;
}

.erros_duplos {
    left: 46%;
    top: 80%;
}


.h1_conquistas {
    top: -150%;
    left: 30%;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 64px;
    line-height: 75px;
}

.bt_edit_perfil {
    border: none;
    color: #FFFFFF;
    background: #135794;
    border-radius: 10px;
}

.conteudo {
    position: absolute;
    display: flex;
    width: 140%;
    top: 43%;
    left: 10%;

}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 100%;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:nth-child(odd) {
    background: #F20574;
}

.card:nth-child(even) {
    background: #F2B705;
}